.headerstl {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    background-color: rgba(9, 46, 32, 100%);
    color: white;
    padding: 20px;
    text-align: center;
}

.mainstl {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    background-color: rgba(3, 247, 52, 0.3);
    padding: 15px;
    text-align: justify;
}

.navstl {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    background-color: rgba(3, 247, 52, 0.5);
    padding: 15px;
    text-align: justify;
}

.footerstl {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    background-color: rgba(9, 46, 32, 100%);
    color: white;
    padding: 20px;
    text-align: center;
}